body {
    color: #344351 !important;
  }
  
  .secondary-color {
    background: #05C3DD;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  
  .bg-gray-1 {
    background: #FEFEFF !important;
  }
  
  .bg-gray-2 {
    background: #FDFEFF !important;
  }
  
  .bg-gray-3 {
    background: #F7F9FB;
  }
  
  .bg-gray-4 {
    background: #E6EBF0 !important;
  }
  
  .bg-blue-5 {
    background: #40A9FF !important;
  }
  
  .bg-blue-6 {
    background: #2383F6 !important;
  }
  
  .text-gray-7 {
    color: #8B939B !important;
  }
  
  .text-gray-8 {
    color: #59636C !important;
  }
  
  .text-gray-9 {
    color: #344351 !important;
  }
  
  .text-white {
    color: #F4F5F5 !important;
  }
  
  .text-black {
    color: #344351 !important;
  }
  
  .text-blue-6 {
    color: #2383F6 !important;
  }
  
  .text-blue-7 {
    color: #096DD9 !important;
  }
  
  .text-blue-8 {
    color: #016CBD !important;
  }
  
  .text-blue-9{
    color: #2521E5 !important;
  }
  
  .text-volcano-5 {
    color: #FF7A45 !important;
  }
  
  .text-red-5 {
    color: #FF4D4F !important;
  }
  
  .text-red-6 {
    color: #F5222D !important;
  }
  
  .text-green-7 {
    color: #389E0D !important;
  }
  
  .text-error {
    color: red !important;
  }
  
  .text-underline {
    text-decoration: underline;
  }
  
  .edit-holding-text {
    color: #2383f6;
    cursor: pointer;
  }
  
  .delete-holding-text {
    color: #ff4d4f;
    cursor: pointer;
  }
  
  .danger-icon {
    color: #FF6F5B;
  }
  
  .blue-icon {
    color: #2521E5;
  }
  
  .red-icon {
    color: #F5222D;
  }
