body{
  background: linear-gradient(to bottom, #366796, #38c6d9);
}

.container{
display: flex;
min-height: 100vh;
}
.table thead>tr th {
  background-color: #366796 !important;
  color: rgb(255, 255, 255);
}

.element-with-negative-z-index {
  pointer-events: none;
}

