@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Urbanist:wght@600&display=swap');

@primary-color: red;
@secondary: #222B45;
@terciary: #8F9BB3;
@purple: #7F7FFF;
@border-radius-base: 5px;
@body-background: #F7F9FC;
@purple: fade(@primary-color, 50%);
@font-family: 'Maven Pro', sans-serif;
@form-item-label-font-size: 16px;
@form-vertical-label-padding: 0 0 4px;
@typography-title-margin-top: 0px;
@form-item-margin-bottom: 30px;