<template>
  <div class="contenedor">
    <table-data :dataTable="data" :fields="fields" title="Listado de Usuarios">
      <template v-slot:buttons>
        <b-button
          class="btntable"
          data-bs-toggle="modal"
          data-bs-target="#newUser"
          variant="outline-primary"
          ><font-awesome-icon
            :icon="['fas', 'user-plus']"
            style="margin-right: 10px"
          />Nuevo usuario</b-button
        >
      </template>
    </table-data>
    <new-user
      :data="data"
      :visibleModal="visibleModal"
      :id="'newUser'"
      @hideModal="hideModal"
      :modalRef="modalRef"
    />
  </div>
</template>

<script>
import tableData from "../components/tableData.vue";
import { ref, onMounted, computed, reactive } from "vue";
import { FETCH_ALL_USERS, GET_USERS } from "../store/types";
import { useStore } from "vuex";
import NewUser from "../components/NewUser.vue";

export default {
  components: { tableData, NewUser },
  setup() {
    const user = ref({});

    const store = useStore();
    const modalRef = ref(null);

    const data = computed(() => {
      return store.getters[GET_USERS].map((obj, i) => {
        return {
          id: obj.id,
          name: obj.name,
          email: obj.email,
          phone: obj.phone,
          urlweb: obj.website,
          accion: "",
          company: obj.company,
        };
      });
    });
    const visibleModal = ref(false);
    let modalElement = null;
    const fields = reactive([
      { key: "id", label: "ID" },
      { key: "name", label: "Nombre completo", labelVariant: "dark" },
      { key: "email", label: "Correo" },
      { key: "phone", label: "Telefono" },
      { key: "urlweb", label: "Sitio web" },
      { key: "accion", label: "Acciones" },
    ]);
    const showModal = () => {
      visibleModal.value = true;
    };
    const hideModal = () => {
      $("#newUser").modal("hide");
      visibleModal.value = false;
    };

    onMounted(async () => {
      try {
        await store.dispatch(FETCH_ALL_USERS);
      } catch (error) {
        console.log("eerror", error);
      }
    });

    return {
      user,
      data,
      fields,
      visibleModal,
      showModal,
      hideModal,
      modalRef,
    };
  },
};
</script>

<style scoped>
.btntable {
  text-align: end;
  margin-bottom: 10px;
  margin-left: 440px;
  background: linear-gradient(#379aba, #5488ab);
  color: #fff;
}
</style>
