<template>
  <!-- Modal -->
  <div
    class="modal fade"
    :id="id"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
    ref="modal"
    @show="test"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Detalle Usuario {{ modalData?.name }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="textp">
            <font-awesome-icon :icon="faInfoCircle" style="color: #366796" />
            Compania
            <span style="color: #366796">{{ modalData?.company?.name }}</span>
          </p>
          <b-row>
            <b-col>
              <div ref="chartDiv" style="width: 100%; height: 500px"></div>
            </b-col>
            <b-col>
              <h2>Titulo</h2>
              <p>Lorem ipsum dolor.</p>
              <h2>Descripcion</h2>
              <p>
                Lorem ipsum dolor sit amet. Sit distinctio officiis et numquam
                aliquam in voluptatem amet et incidunt vero aut accusantium
                tempore. Sit esse Quis quo autem minus non quas repellat. A odio
                earum eos nulla officiis sed iure rerum sed repudiandae
                praesentium ad beatae asperiores et nostrum rerum et magni
                ipsum. Sed odio quia 33 galisum sapiente quo ipsa dolor aut
                internos modi in consequatur tempora.
              </p>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted, watch, computed } from "vue";
import { faInfoCircle } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  FETCH_USER_POSTS,
  GET_USER_POSTS,
  GET_USER_POST_FILTER_BY_ID,
} from "../store/types";
import { useStore } from "vuex";

export default {
  props: {
    dataModal: {
      type: String,
      default: "",
    },
    id: {
      type: String,
      default: "",
    },
    modalData: {
      type: Object,
      default: {},
    },
    visibleModal: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    FontAwesomeIcon,
  },

  setup(props, { emit }) {
    const chartDiv = ref(null);
    const root = ref(null);
    const { modalData } = props;
    const datas = ref([]);
    const isChartReady = ref(false);
    const store = useStore();
    const datafilter = computed(() =>
      store.getters[GET_USER_POST_FILTER_BY_ID](props.modalData.id)
    );

    let previousChart = null;

    const createChart = (datas) => {
      const dataTotal = datas;
      if (previousChart) {
        previousChart.dispose();
        previousChart = null;
      }

      am5.ready(() => {
        let chartRoot = am5.Root.new(chartDiv.value);
        previousChart = chartRoot;

        let myTheme = am5.Theme.new(chartRoot);
        myTheme.rule("Label").set("fontSize", "0.8em");

        chartRoot.setThemes([am5themes_Animated.new(chartRoot), myTheme]);

        let container = chartRoot.container.children.push(
          am5.Container.new(chartRoot, {
            width: am5.p100,
            height: am5.p100,
            layout: chartRoot.horizontalLayout,
          })
        );

        let chart0 = container.children.push(
          am5percent.PieChart.new(chartRoot, {
            innerRadius: am5.p50,
            tooltip: am5.Tooltip.new(chartRoot, {}),
          })
        );

        let series0 = chart0.series.push(
          am5percent.PieSeries.new(chartRoot, {
            valueField: "value",
            categoryField: "category",
            alignLabels: false,
          })
        );

        series0.children.push(
          am5.Label.new(chartRoot, {
            text: datafilter ? datafilter.value.length + " Posts" : "0 Posts",
            fontSize: 40,
            centerX: am5.percent(50),
            centerY: am5.percent(50),
          })
        );

        // ...

        // data
        let data = [
          {
            category: "Dummy",
            value: 1000,
            settings: {
              fill: am5.color(0xdadada),
              stroke: am5.color(0xdadada),
              fillOpacity: 0.3,
              strokeDasharray: [4, 4],
              tooltipText: null,
              draggable: false,
            },
            dummyLabelSettings: {
              forceHidden: true,
            },
          },
          {
            category: "Post de usuario",
            value: datafilter.value.length,
          },
          {
            category: "Total de Post",
            value: dataTotal.value.length,
          },
        ];

        series0.data.setAll(data);

        series0.dataItems[0].hide(0);

        container.appear(1000, 100);
        isChartReady.value = true;
      });
    };

    onMounted(async () => {
      const resp = await store.dispatch(FETCH_USER_POSTS);
      if (resp) {
        datas.value = resp.data;
      }
    });

    watch(() => {
      if (props.visibleModal == true) {
        createChart(datas);
      }
    });

    return {
      faInfoCircle,
      root,
      datas,
      isChartReady,
      chartDiv,
      createChart,
      previousChart,
      datafilter,
    };
  },
};
</script>

<style scoped>
.textp {
  text-align: left;
  margin-left: 50px;
  font-size: 18px;
}

.modal-title {
  margin-left: 50px;
}
.modal-dialog {
  min-width: 50%;
  margin-top: 210px;
  height: 100%;
}
</style>
