<template>
  <!-- Modal -->
  <div
    ref="modal"
    class="modal fade"
    :id="idModal"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newUser">Crear Usuario</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <b-form>
              <b-row>
                <b-col md="6">
                  <b-form-group
                    label="	Nombre y apellido"
                    label-for="Nombre y apellido"
                  >
                    <b-form-input
                      id="first-name-input"
                      v-model="formState.name"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group label="Correo" label-for="email-input">
                    <b-form-input
                      id="email-input"
                      v-model="formState.email"
                      type="email"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group label="Sitio web" label-for="Nombre y apellido">
                    <b-form-input
                      id="first-name-input"
                      v-model="formState.website"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label="Nombre de usuario"
                    label-for="last-name-input"
                  >
                    <b-form-input
                      id="last-name-input"
                      v-model="formState.userName"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group label="Telefono" label-for="phone-input">
                    <b-form-input
                      id="phone-input"
                      v-model="formState.phone"
                      required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group
                    label="Nombre compañia"
                    label-for="Nombre y apellido"
                  >
                    <b-form-input
                      id="first-name-input"
                      v-model="formState.company.name"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-button
                class="btnsubmit"
                type="submit"
                aria-label="Close"
                @click="save"
                >Guardar</b-button
              >
            </b-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  reactive,
  ref,
  computed,
  onMounted,
  onBeforeUnmount,
  inject,
} from "vue";
import { useStore } from "vuex";
import { POST_USER, FETCH_ALL_USERS } from "../store/types";

export default {
  props: {
    modalRef: {
      type: Object,
      default: null,
    },
    data: {
      type: Array,
      default: [],
    },
    visibleModal: {
      type: Boolean,
    },
    id: {
      type: String,
    },
  },
  setup(props, { emit }) {
    const bvModal = inject("$swal");
    const loading = ref(false);
    const modalProp = ref(props.visibleModal);
    const dataUser = computed(() => props.data);
    const idModal = computed(() => props.id);
    const store = useStore();

    const formState = reactive({
      id: null,
      name: "",
      userName: "",
      email: "",
      phone: "",
      website: "",
      company: {
        name: "",
        catchPhrase: "",
        bs: "",
      },
    });

    const save = async () => {
      try {
        const resp = await store.dispatch(POST_USER, formState);
        if (resp) {
          emit("hideModal");
          formState.name = "";
          formState.userName = "";
          formState.email = "";
          formState.phone = "";
          formState.website = "";
          formState.company.name = "";
        }
        bvModal.fire({
          position: "center",
          icon: "success",
          title: "Guardado Correctamente",
          showConfirmButton: false,
          timer: 3000,
        });
      } catch (error) {
        console.log("error", error);
      }
    };

    return {
      formState,
      save,
      dataUser,
      idModal,
      modalProp,
    };
  },
};
</script>

<style scoped>
.modal-dialog {
  min-width: 50%;
  margin-top: 210px;
  height: 100%;
}
.btnsubmit {
  justify-items: start;
  align-items: start;
  justify-content: start;
  background: linear-gradient(#379aba, #5488ab);
}
</style>
