<template>
  <div class="tabla">
    <b-row>
      <b-col>
        <h3 class="title">{{ title }}</h3>
      </b-col>
      <b-col>
        <slot name="buttons"> </slot>
      </b-col>
    </b-row>
    <b-table :items="dataTable" :fields="fields" class="table">
      <!-- Custom Actions Slot -->
      <template #cell(accion)="data">
        <b-button
          variant="outline-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          @click="showModalDetailUser(data.item)"
          ><font-awesome-icon
            :icon="['fas', 'search']"
            style="margin-right: 10px"
        /></b-button>
        <b-button variant="outline-danger" @click="deleteItem(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
  <detail-user
    :modalData="modalData"
    :visibleModal="modal"
    :dataModal="'modal'"
    :id="'staticBackdrop'"
  />
  <div></div>
</template>

<script>
import { ref, inject } from "vue";
import DetailUser from "./DetailUser.vue";
import store from "../store/user";
import { useStore } from "vuex";
import { DELETE_USER } from "../store/types";

export default {
  components: { DetailUser },
  props: {
    title: {
      type: String,
      default: "Listado de usuarios",
    },
    dataTable: {
      type: Array,
      default: [],
    },
    fields: {
      type: Array,
      default: [],
    },
  },
  setup() {
    const bvModal = inject("$swal");
    const store = useStore();
    const modalData = ref(null);
    const modal = ref(false);

    const showModalDetailUser = (prop) => {
      modal.value = true;
      modalData.value = prop;
    };
    const deleteItem = async (data) => {
      bvModal
        .fire({
          title: "¿Desea eliminar este usuario?",
          text: "una vez eliminado no podras revertir los cambios hechos",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#379aba",
          cancelButtonColor: "#7B7B7B",
          confirmButtonText: "Eliminar",
          cancelButtonText: "Cancelar",
        })
        .then(async (result) => {
          if (result.isConfirmed) {
            await store.dispatch(DELETE_USER, data.id);
            bvModal.fire("Deleted!", "Your file has been deleted.", "success");
          }
        });
    };

    return {
      modal,
      modalData,
      showModalDetailUser,
      deleteItem,
    };
  },
};
</script>

<style scoped>
.tabla {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
.right-align {
  text-align: right;
}
button {
  margin-right: 10px;
}
.title {
  text-align: left;
}
</style>
