<template>
  <div class="contenedor">
    <div class="cardone">
      <b-sidebar
        id="sidebar-no-header"
        aria-labelledby="sidebar-no-header-title"
        no-header
        shadow
      >
        <div class="p-3">
          <div class="mb-2 avatar">
            <b-avatar
              src="https://placekitten.com/300/300"
              size="6rem"
            ></b-avatar>
          </div>
          <nav class="mb-3 avatar">
            <b-nav vertical style="margin-top: 20px">
              <router-link
                active-class="active-link"
                class="routerlink"
                to="/inicio"
                ><font-awesome-icon
                  :icon="['fas', 'house']"
                  style="margin-right: 10px"
                />
                Inicio</router-link
              >
              <router-link active-class="active-link" class="routerlink" to="/"
                ><font-awesome-icon
                  :icon="['fas', 'users']"
                  style="margin-right: 10px"
                />Usuarios</router-link
              >
            </b-nav>
          </nav>
        </div>
      </b-sidebar>
    </div>
    <b-card class="cardtwo" body-class="text-center" header-tag="nav">
      <router-view />
    </b-card>
  </div>
</template>

<script>

export default {
  components: {},
  setup() {

    return {

    };
  },
};
</script>

<style scoped>
.contenedor {
  display: flex;
}
.cardone {
  margin-top: 50px;
  width: 300px;
  margin-right: 10px;
  border: transparent;
  min-height: 94vh;
}
.cardtwo {
  margin-top: 50px;
  flex: 1;
  border-radius: 100px 1px 1px 1px;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.routerlink {
  text-decoration: none;
  color: aliceblue;
  margin-top: 10px;
}
.routerlink {
  color: black;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}
.active-link {
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  text-align: center;
}
</style>
